body {
	background-color: rgba(124, 179, 193, 0.59);
	font-family: "Nunito", sans-serif;
}

h1 {
	margin-top: 20px;
}

#searchAppointmentsCard {
	margin-top: 20px;
}

#addAppointmentsCard {
	margin-top: 20px;
}

#allAppointmentsCard {
	margin-top: 20px;
}
